body {
        overflow: hidden;
        background:#092244;
}

.header {
  margin: 5px 0px 0px 0px;
  padding: 0;
  list-style: 0;
  font-size: 0;
}
    .header li{
        display: inline-block;
        width: 50%;
        font-size:2rem;
        color:black;
        font-weight:100;
        padding:8px 5px;
        box-sizing: border-box; 
        color : #68b8fb;
    }

    .header li.css{
        position: absolute;
        left: 50%;
        width: 5rem;
    }


#html {
  position: absolute;
  top: 8%;
  right: 0;
  bottom: 0;
  left: 0%;
  width: 50%;
  height: 35%;
  overflow-y: scroll;
}
#css {
  position: absolute;
  top: 8%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 35%;
  overflow-y: scroll;
}

#result {
  position: absolute;
  background: #FFFFFF;
  top: 43%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58%;
  overflow-y: scroll;
}